body{
    background: black;
}

.post {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 500px;
    margin: auto;
}

.post-header div {
  display: flex;
  align-items: center;  
  gap: 10px;          
}

#html-icon img {
  width: 30px;
  height: auto; 
}

div.post img{
    display: block;
    width: 100%;
    
}

.post-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}